

body{
  margin: 0;
  padding: 0;
  background-color: black;
}
.form-style{
  padding: 8px 16px;
  
}
h1{
  color: rgb(58, 223, 238);
}
input{
  border: 2px dotted rgb(4, 221, 240);
  width: 200px;
  outline: none;
 background-color: black;
 color: rgb(58, 223, 238);
  
  padding: 4px 8px;
}

::placeholder {
  color: rgb(247, 247, 72);
}